.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
rawData/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.vscode
node_modules
src/
tsconfig.json
webpack.config.js
.devcontainer/